extends _layout

block locals
  - var title = 'Home Page'

block content
  h1(class='heading') Home
  img(src='../img/icons.jpg' alt='' width='200')
  img(src='../img/test/youtube.jpg' alt='' width='200')
